html {
    scroll-behavior: smooth;
}

body {
    min-width: 290px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height:90%;
    border-right: solid;
    border-color: gray;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}

button{
    display: contents;
}

button img{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    margin: 10px 0px 0px 30px;;
    float: right;
}

.mode{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100px;
    margin-left: 650px;
}

#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li{
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a{
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    top: 0;
}

#main-doc header{
    text-align: left;
    margin: 0px;
    font-weight: bolder;
}

section article{
    margin: 15px;
    font-size: 0.96em;
}
section li{
    margin: 15px 0px 0px 
}
code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: lightgray;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
