html {
    scroll-behavior: smooth;
}

body {
    min-width: 290px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: gray;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}

#mode button {
    display: contents;
}

button img {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
}

#button-1 img {
    margin: 20px 0px 0px 170px;
}

#button-2 img {
    margin: 20px 0px 0px 20px;
}

#mode {
    display: flex;
    flex-direction: row;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    top: 0;
}

#main-doc header {
    text-align: left;
    margin: 0px;
    font-weight: bolder;
}

section article {
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: lightgray;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: gray;
}