body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 1px solid black;
}

.login-container h2 {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border-color: #3498db;
}

.form-group input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    width: 100px;
    margin-left: 35%;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}